*{
	box-sizing: border-box;
	font-family: Helvetica;
}

body {
	background: #4E81EA;
	text-align: center;
}


header{
	text-align: center;
}

.logo{
	height: 35px;
	margin: 25px;
}

.login-text{
	margin: 20px;
}

.login-text, .login-text a {
	color: white;
}

.login-text a{
	font-weight: bold;
}

.signup-form {
	width: 400px;
	background: white;
	padding: 40px 30px 40px 30px;
	margin-left: auto;
	margin-right: auto;
}

.signup-form * {
	text-align: center;
}

.signup-form fieldset{
	border: none;
}

.signup-form input, .signup-form button {
	height: 55px;
	width: 320px;
	border: 2px solid lightgrey;
	padding: 15px;
	border-radius: 2px;
}

.signup-form input{
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}

.signup-form label{
	display: block;
	text-align: left;
}

.signup-form button{
	background-color: #35D26B;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.signup-form button:hover{
	background-color: green;
}



